body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    padding: 20px;
}

.logo-link {
    display: block;
}

.header-logo {
    max-height: 100px; 
    border: solid #e0b854 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.logo-link:hover .header-logo {
    transform: scale(1.05); 
}

.header-center {
    flex-grow: 1; 
    text-align: center;
}

.header-banner {
    max-height: 80px; 
    transition: transform 0.3s ease;
}

.header-center:hover .header-banner {
    transform: scale(1.05); 
}

.header-info {
    text-align: right;
    color: #333333;
}

.header-info p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.header-info .header-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    background: #f4cc70;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.header-info .header-btn:hover {
    background: #d9a73b;
    transform: scale(1.05);
}

nav {
    display: flex;
    background: #333333;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.1em;
}

nav a:hover {
    color: #f4cc70;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 40px;
    padding-top: 20px;
    background: #ffffff;
    border: 1px solid #e0b854;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #333333;
}

footer {
    background: #333333;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #f4cc70;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.btn {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 10px;
    background: #f4cc70;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-size: 1.1em;
}

.btn:hover {
    background: #d9a73b;
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.no-bullets li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
}

.form-label {
    font-weight: 800;
    color: #666;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #e0b854;
    box-shadow: 0 0 5px rgba(224, 184, 84, 0.5);
}

textarea.form-control {
    height: 150px;
    resize: none;  
}

.service-header {    
    width: 100%;
    text-align: center;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 50px;
}

.service-item {
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #e0b854;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.service-item h3 {
    color: #333333;
    margin: 1rem 0 0.5rem;
    font-size: 1.2em;
    font-weight: 600;
}

.service-item p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

.service-icon {
    color: #e0b854;
    font-size: 2em;
    display: block;
    margin: 0 auto 0.5rem auto;
    text-align: center; 
}

.service-location {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
}



/*--------------------------------------------------Responsive-Design-----------------------------------------------------*/
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 25px;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 10px 0;
    }
    
    .service-grid {
        grid-template-columns: 1fr; 
    }
}

